.upload-container {
    background-color: rgb(255, 255, 255);
    height: 500px;
    flex-grow: 1;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.upload{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    background-clip: padding-box;
    display: flex;

    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
   
    
}
.upload__upload-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: auto;
    flex-grow: 3;
    flex: 1;
    img{
        height: 6rem;
    }
    div{
        font-size: 1.6rem;
        font-weight: bolder;
    }
}
.upload__file-input {
    flex-grow: 3;
    flex-basis: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    input {
        display: none;
    }

    label {
        font-size: medium;
        font-weight: bolder;
        background-color: white;
        border-radius: 10rem;
        border: 2px solid rgb(75, 144, 234);
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3px;
        cursor: pointer;
    }
}
.upload__uploaded-file{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: fit-content;
    padding: 5px;
    position: relative;
    background-color: rgb(172, 172, 255);
    border-radius: 0.4rem;
    .fileLogo{
        position: relative;
        left: 0;
        height: 30px;
    }
    .fileName{
        padding-left: 10px;
        flex-grow: 12;
        flex-basis: auto;
        font-weight: 700;
    }
    .deleteLogo{
        position: relative;
        right: 0;
        height: 30px;
    }
}
.upload__submit {
    flex-basis: auto;
    flex-grow: 5;
    position: relative;
    bottom: 20px;
    width: 120%;
    display: flex;
    align-items: flex-end;

    justify-content: center;

    label {
        background-color: green;
        width: 80%;
        text-align: center;
        font-size: medium;
        font-weight: bolder;
        color: white;
        padding-top: 10px;
        padding-bottom: 13px;
        border-radius: 8px;
    }

    label:active {
        background-color: red;
    }

    input {
        display: none;
    }
}
