.upload{
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}
.upload__upload-box{
    width: 25rem;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 5px dashed rgb(99, 95, 95);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-clip: padding-box;
    .or{
        position: relative;
        top: -90px;
        font-weight: bolder;
    }

}
.upload__upload-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 100px;
        width: 100px;
    }
    .title{
        position: relative;
        top: -18px;
        font-size: 2rem;
        font-weight: bolder;
    }
    p{
        position: relative;
        top: -33px;
        font-weight: 600;
        color: rgb(193, 192, 192);
    }
}
.upload__choose-file{
    position: relative;
    top: -120px;
    label{
        border: 3px solid rgb(141, 179, 255);
        border-radius: 5rem;
        padding-top: 5px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
        text-align: center;
        font-weight: 700;
        background-color: white;
        cursor: pointer;
    }
    input{
        display: none;
    }
}