.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.content{
    position: relative;
    top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
}